div {
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}

a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: silver;
    text-decoration: none;
}